---
import Layout from '@/layouts/Layout.astro'

import { Button } from '@/components/ui/button'

import Icon404 from '@/assets/svg/404'

const pageTitle = '404 - Page Not Found'
const pageDescription = 'The page you are looking for does not exist or has been moved.'
---

<Layout title={pageTitle} description={pageDescription} noindex nofollow>
  <div class='flex h-screen w-screen flex-col items-center justify-center gap-9 p-6'>
    <Icon404 className='h-auto w-full sm:h-120 sm:w-146' />
    <div class='flex flex-col items-center gap-4 text-center'>
      <p class='text-muted-foreground text-xl sm:text-2xl'>We couldn&apos;t find the page you are looking for</p>
      <Button className='rounded-full' asChild>
        <as href='/'>Go back to home</as>
      </Button>
    </div>
  </div>
</Layout>
